# DISA Database design

The first task in recreating the DISA database was migrating data from the existing Mongo db. First, let's take a look at a sample record from the Mongo db (**disamg**), the contents of which have been dumped into a file *latest_entries.json*.

In [1]:
import json
from collections import namedtuple
import datetime as dt
import pandas as pd

with open('data/latest-entries.json') as f:
    data = json.load(f)

In [2]:
data[0]

{'_id': {'$oid': '598b4c8baecb6c0001a29e25'},
 'person': {'names': [{'firstName': 'Elizabeth',
    'lastName': '',
    'type': 'English'}],
  'tribe': 'Unspecified',
  'origin': '',
  'race': 'Indian',
  'sex': 'Female',
  'typeKindOfEnslavement': 'Servant',
  'vocation': '',
  'father': {'name': {'firstName': '', 'lastName': ''},
   'race': '',
   'origin': '',
   'status': '',
   'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''},
    'vocation': ''}},
  'mother': {'name': {'firstName': '', 'lastName': ''},
   'race': '',
   'origin': '',
   'status': '',
   'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''},
    'vocation': ''}},
  'children': []},
 'owner': {'name': {'firstName': '', 'lastName': 'Duglas', 'title': 'Mr. '},
  'vocation': ''},
 'dateOfRunaway': {'month': ''},
 'dateOfEmancipation': {'month': ''},
 'buyer': {'firstName': '', 'lastName': ''},
 'seller': {'firstName': '', 'lastName': ''},
 'dateOfSale': {'month': ''},
 'dateOfMarriage': {'month': ''},
 'document': {'date': {'year': '1671', 'month': 5, 'day': '7'},
  'stringLocation': 'New London',
  'colonyState': 'Connecticut',
  'nationalContext': 'British',
  'sourceType': 'Book',
  'recordType': '',
  'citation': 'Blake, The Later History of the First Church of Christ, p. 446'},
 'additionalInformation': '',
 'researcherNotes': '',
 'meta': {'stage': 'Internal',
  'creator': '112148132795694739523',
  'lastModified': '2018-05-14T18:32:21.539Z',
  'updatedBy': '112487255676465508755',
  'idPrefix': 10,
  'idSuffix': 10002},
 'dateOfDeath': {'month': ''}}

We see a number of potential issues here. Let's consider each in turn.

### MongoDB Document Structure

Each document in any Mongo db is a JSON object, which itself can contain an arbitrary number of JSON objects. Here are the top-level attributes for all documents in **disamg**:

In [3]:
all_attrs = { k for d in data for k in d.keys() }
for a in sorted(list(all_attrs)):
    print(a)

_id
additionalInformation
buyer
dateOfDeath
dateOfEmancipation
dateOfMarriage
dateOfRunaway
dateOfSale
document
meta
owner
person
researcherNotes
seller

This is an odd assortment of labels; it's not immediately clear what each document in **disamg** represents. Considering the context of the DISA project, the guess is that `person` is the central data point, with `buyer`, `seller`, `owner`, and the 5 `dateOf*` fields referring back to `person` (ie, 'owner of `person`, 'date of death of `person`, etc.). `document` presumably identifies the historical document where the `person` appears, with `_id`, `meta`, `additionalInformation`, and `researcherNotes` all containing some administrative-level information.

The attributes `researcherNotes` and `additionalInformation` are both text strings; all the rest of the attributes are themselves JSON objects containing more data. We'll take a poll of these object-attributes, and see what fields are available in them. One of the challenges with this or any other Mongo db is that the data structure is potentuially inconsistent. Then, we'll see how much of this data is empty, as the sample document shows several null values.

In [5]:
str_vals = { 'additionalInformation', 'researcherNotes' }
obj_vals = { 'buyer', 'dateOfDeath', 'dateOfEmancipation', 'dateOfMarriage', 'dateOfRunaway',
            'dateOfSale', 'document', 'meta', 'owner', 'person', 'seller', '_id' }

from collections import Counter
count_attrs = { a: Counter() for a in all_attrs if a not in str_vals }
count_attrs['researcherNotes'] = 0
count_attrs['additionalInformation'] = 0
total_docs = 0
for d in data:
    total_docs += 1
    for attr in all_attrs:
        v = d.get(attr)
        if attr in str_vals and v is not None:
            count_attrs[attr] += 1
        elif v:
            for n in v.keys():
                count_attrs[attr][n] += 1

print('Total Mongo Documents: {}\n'.format(total_docs))
print('Document attribute counts\n')
for a in sorted(list(count_attrs.keys())):
    print(a)
    if a in obj_vals:
        for v, c in count_attrs[a].items():
            print('\t{}:{}'.format(v, c))
    else:
        print('\t',count_attrs[a])
    print()

Total Mongo Documents: 493

Document attribute counts

_id
	$oid:493

additionalInformation
	 493

buyer
	firstName:493
	lastName:493

dateOfDeath
	month:353
	year:1
	day:1

dateOfEmancipation
	month:493
	year:31
	day:32

dateOfMarriage
	month:493
	year:2
	day:2

dateOfRunaway
	month:493
	year:68
	day:58

dateOfSale
	month:493
	year:1
	day:1

document
	date:493
	stringLocation:493
	colonyState:493
	nationalContext:493
	sourceType:493
	recordType:493
	citation:493
	locale:3

meta
	stage:493
	creator:493
	lastModified:493
	updatedBy:493
	idPrefix:493
	idSuffix:493

owner
	name:493
	vocation:493

person
	names:493
	tribe:493
	origin:493
	race:493
	sex:493
	typeKindOfEnslavement:493
	vocation:493
	father:493
	mother:493
	children:493
	age:405

researcherNotes
	 493

seller
	firstName:493
	lastName:493

The attribute counts look reasonably consistent with the total record count. The biggest discrepencies are in the `dateOf*` objects. Looking back at the sample record, we see that an empty date is stored as `{'month': ''}`; and that probably accounts for why there is a difference between `month`, `year`, and `day` counts for individual `dateOf` attributes.

We'll guess at empty data structures for other attribute values, and see just how much this data is empty. We'll gloss the `person` attribute for now, since that will require a more involved treatment. Again reveiwing the sample record, we see that several of the `person` attributes -- `names`, `mother`, `father`,  and `children` -- are themselves more nested JSON data.

In [25]:
empty_attr = {
    '_id' : [{'$oid': ''}],
    'additionalInformation': [''],
    'buyer': [{'firstName': '', 'lastName': ''}],
    'dateOfRunaway': [{'month': ''}],
    'dateOfSale': [{'month': ''}],
    'dateOfMarriage': [{'month': ''}],
    'dateOfEmancipation': [{'month': ''}],
    'dateOfDeath': [{'month': ''}],
    'document': [{'date': {'month': ''}, 'stringLocation': '', 'colonyState': '', 'nationalContext': '',
                'sourceType': '', 'recordType': '', 'citation': ''},
                {'date': {'month': ''}, 'stringLocation': '', 'colonyState': '', 'nationalContext': '',
                'sourceType': '', 'recordType': '', 'citation': '', 'locale': ''}],
    'meta': [{'stage': '', 'creator': '', 'lastModified': '', 'updatedBy': '', 'idPrefix': '', 'idSuffix': ''}],
    'owner': [{'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}],
    'researcherNotes': [''],
    'seller': [{'firstName': '', 'lastName': ''}]
}

count_empty = { k: 0 for k in empty_attr.keys() }
for d in data:
    for e, checks in empty_attr.items():
        v = d.get(e)
        if not v:
            count_empty[e] += 1
            continue
        for c in checks:
            if v == c:
                count_empty[e] += 1

print('Empty attribute counts\n')
for a in sorted(list(count_empty.keys())):
    print('{0}: {1} empty ({2:.2f}% present)'.format(a, count_empty[a], 100-(count_empty[a]/total_docs)*100))

Empty attribute counts

_id: 0 empty (100.00% present)
additionalInformation: 109 empty (77.89% present)
buyer: 493 empty (0.00% present)
dateOfDeath: 492 empty (0.20% present)
dateOfEmancipation: 461 empty (6.49% present)
dateOfMarriage: 491 empty (0.41% present)
dateOfRunaway: 425 empty (13.79% present)
dateOfSale: 492 empty (0.20% present)
document: 3 empty (99.39% present)
meta: 0 empty (100.00% present)
owner: 75 empty (84.79% present)
researcherNotes: 381 empty (22.72% present)
seller: 486 empty (1.42% present)

Some quick analysis:
* `buyer`, `seller`, `dateOfSale`, `dateOfMarriage`, `dateOfDeath` are almost entirely empty
* `owner` and `additionalInformation` are about 80% present
* `researcherNotes`, `dateOfEmancipation` and `dateOfRunaway` are less common, but still occasionally filled out
* `_id` and `meta` are present on all **disamg** documents

What about those 3 empty `document` values? Let's examine:

In [26]:
for d in data:
    if d['document'] in empty_attr['document']:
        for k,v in d.items():
            print('{}:\n\t{}'.format(k,v))
        print('='*100)

_id:
	{'$oid': '59b98bebdf4c6f000198331e'}
person:
	{'names': [{'firstName': 'FIRST NAME', 'lastName': '', 'type': 'English'}, {'firstName': '', 'lastName': 'LAST NAME', 'type': 'Indian'}], 'tribe': '', 'origin': '', 'race': '', 'sex': '', 'typeKindOfEnslavement': '', 'vocation': '', 'father': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'mother': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'children': []}
owner:
	{'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}
dateOfRunaway:
	{'month': ''}
dateOfEmancipation:
	{'month': ''}
buyer:
	{'firstName': '', 'lastName': ''}
seller:
	{'firstName': '', 'lastName': ''}
dateOfSale:
	{'month': ''}
dateOfMarriage:
	{'month': ''}
document:
	{'date': {'month': ''}, 'stringLocation': '', 'colonyState': '', 'nationalContext': '', 'sourceType': '', 'recordType': '', 'citation': ''}
additionalInformation:

researcherNotes:

meta:
	{'stage': 'Draft', 'creator': '106123372953260397156', 'lastModified': '2017-09-13T19:50:00.548Z', 'updatedBy': '106123372953260397156', 'idPrefix': 10, 'idSuffix': 10049}
====================================================================================================
_id:
	{'$oid': '5abd63d72a3c60a7cb674259'}
person:
	{'names': [{'firstName': 'Test1', 'lastName': '', 'type': ''}], 'tribe': 'Mohegan', 'origin': '', 'race': '', 'sex': '', 'typeKindOfEnslavement': '', 'vocation': '', 'father': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'mother': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'children': []}
owner:
	{'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}
dateOfRunaway:
	{'month': ''}
dateOfEmancipation:
	{'month': ''}
buyer:
	{'firstName': '', 'lastName': ''}
seller:
	{'firstName': '', 'lastName': ''}
dateOfSale:
	{'month': ''}
dateOfMarriage:
	{'month': ''}
document:
	{'date': {'month': ''}, 'stringLocation': '', 'colonyState': '', 'nationalContext': '', 'sourceType': '', 'recordType': '', 'citation': ''}
additionalInformation:

researcherNotes:

meta:
	{'stage': 'Draft', 'creator': '112487255676465508755', 'lastModified': '2018-05-14T18:32:27.863Z', 'updatedBy': '112487255676465508755', 'idPrefix': 10, 'idSuffix': 10441}
dateOfDeath:
	{'year': '1202', 'month': 9, 'day': '11'}
====================================================================================================
_id:
	{'$oid': '5ad036b12a3c601621674272'}
person:
	{'names': [{'firstName': 'Toby', 'lastName': '', 'type': ''}], 'tribe': '', 'origin': '', 'race': 'Indian', 'sex': 'Male', 'typeKindOfEnslavement': '', 'vocation': '', 'father': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'mother': {'name': {'firstName': '', 'lastName': ''}, 'race': '', 'origin': '', 'status': '', 'owner': {'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}}, 'children': []}
owner:
	{'name': {'firstName': '', 'lastName': '', 'title': ''}, 'vocation': ''}
dateOfRunaway:
	{'month': ''}
dateOfEmancipation:
	{'month': ''}
buyer:
	{'firstName': '', 'lastName': ''}
seller:
	{'firstName': '', 'lastName': ''}
dateOfSale:
	{'month': ''}
dateOfMarriage:
	{'month': ''}
document:
	{'date': {'month': ''}, 'stringLocation': '', 'colonyState': '', 'nationalContext': '', 'sourceType': '', 'recordType': '', 'citation': ''}
additionalInformation:
	Details of sale: "a Tall, Slimb fellow, thin Visage, He had on when he went away a Home- spun Stockings, New Shoes."
researcherNotes:

meta:
	{'stage': 'Internal', 'creator': '109503335312366098524', 'lastModified': '2018-04-13T04:48:49.068Z', 'updatedBy': '109503335312366098524', 'idPrefix': 10, 'idSuffix': 10466}
====================================================================================================

Two of these appear to be test documents, meaning there is only 1 of the 493 without `document` data. We'll count this as an error.

If we were desiging an entity-relationship diagram for **disamg** as-is, it might look something like this:

![title](img/DISA_er_1.png)

We'll consider all nested object-attributes as independent entities for now, and the `additionalInformation` and `researcherNotes` fields as as entity attributes attendant on the Mongo document (whatever that might represent). A document has a mandatory relationship with `_id`, `meta`, `document`, and `person`, since these are present on nearly every **disamg** document. This may be a many-to-one relationship: many **disamg** documents might be associated with the same historical `document`, for example. For now, we can be sure that each **disamg** document is associated with 1 and only 1 of these entities, since none of the attributes are multivalued.

Relationships between a document and the remaining entities -- `buyer`, `seller`, `owner`, and `dateOf*` -- are optional, given by their inconsistent presence in our analysis. These too are unary relationships, since again none of them are multivalued. However, here that seems potentially problematic. If our hunch is correct -- that each **disamg** document stands in for an enslaved person -- we might expect `owner` or `dateOfSale` to be multivalued, since someone might be sold multiple times over their lifetime. Moreover, what's the relationship between `buyer`, `seller`, and `owner`? One might expect that the `buyer` and `seller` of a person would be an `owner` as well.

Before diving into those issues, let's examine the mandatory attributes `_id` and `meta`. These have fields that look like IDs, which may be helpful in determining just what a **disamg** document represents.

In [47]:
unique_data = {
    'id_oid': set(),
    'meta_id_prefix': set(),
    'meta_id_suffix': set(),
    'meta_id_stage': set(),
    'meta_creator': set(),
    'meta_updated_by': set(),
    'meta_modified': set(),
}

for d in data:
    unique_data['id_oid'].add(d['_id']['$oid'])
    unique_data['meta_id_prefix'].add(d['meta']['idPrefix'])
    unique_data['meta_id_suffix'].add(d['meta']['idSuffix'])
    unique_data['meta_id_stage'].add(d['meta']['stage'])
    unique_data['meta_creator'].add(d['meta']['creator'])
    unique_data['meta_updated_by'].add(d['meta']['updatedBy'])
    unique_data['meta_modified'].add(d['meta']['lastModified'])

for att, d in unique_data.items():
    d_list = list(d)
    print("Number of unique {{{}}} values: {}".format(att, len(d_list)))
    print("\tsamples: {}\n".format(d_list[:8]))

Number of unique {id_oid} values: 493
	samples: ['59cc7c8edf4c6f0001983343', '5a7094681b47910001a53ac6', '5a9497ff1b47910001a53b22', '5a6a03c91b47910001a53a93', '599f14a7aecb6c0001a29e45', '5b049339de60e051e7da37ff', '5a732dff1b47910001a53ae3', '5a6770dc1b47910001a53a76']

Number of unique {meta_id_prefix} values: 1
	samples: [10]

Number of unique {meta_id_suffix} values: 493
	samples: [10240, 10241, 10242, 10243, 10244, 10245, 10246, 10247]

Number of unique {meta_id_stage} values: 2
	samples: ['Draft', 'Internal']

Number of unique {meta_creator} values: 6
	samples: ['113112063790792171857', '109503335312366098524', '112487255676465508755', '106123372953260397156', '106895219236186746888', '112148132795694739523']

Number of unique {meta_updated_by} values: 8
	samples: ['113112063790792171857', '109503335312366098524', '112487255676465508755', '106123372953260397156', '106895219236186746888', '103795391716629952261', '112148132795694739523', '117289295548725522159']

Number of unique {meta_modified} values: 493
	samples: ['2018-06-15T15:06:41.665Z', '2018-04-18T00:47:59.732Z', '2018-06-15T17:56:36.464Z', '2018-06-18T17:37:52.121Z', '2018-05-23T04:45:06.951Z', '2018-06-04T22:41:48.618Z', '2018-04-18T00:41:50.704Z', '2018-06-26T21:01:50.927Z']

In [ ]:
FlatRow = namedtuple('FlatRow', [
    #metadata
    'mongo_id', 'disa_id', 'modified_date', 'creator', 'last_updated_by',
    #name information
    'first_name', 'last_name', 'name_count',
    #personal details
    'tribe', 'origin', 'race', 'sex', 'age', 'enslavement', 'vocation',
    #personal event dates
    'date_runaway', 'date_sale', 'date_emancipation', 'date_marriage', 'date_death',
    #owner information
    'owner_first', 'owner_last', 'owner_title', 'owner_vocation',
    'buyer_first', 'buyer_last', 'seller_first', 'seller_last',
    #father information
    'father_first', 'father_last', 'father_origin', 'father_race', 'father_status',
    #father owner information
    'father_owner_first', 'father_owner_last', 'father_owner_title','father_owner_vocation',
    #mother information
    'mother_first', 'mother_last', 'mother_origin', 'mother_race', 'mother_status',
    #mother owner information
    'mother_owner_first', 'mother_owner_last', 'mother_owner_title', 'mother_owner_vocation',
    #child information
    'child_first', 'child_last', 'child_count',
    #location information
    'nation', 'state', 'location', 'locale',
    #document information
    'document_date', 'source', 'record', 'citation',
    #text blobs
    'addl_info', 'notes' ])

In [69]:
def get_date(dateData):
    if not dateData or dateData == {'month': ''} or dateData == {'year': '', 'month': '', 'day':''}:
        dateData = { 'day':1, 'month':1, 'year':1 }
    try:
        day = int( dateData.get('day',1) or 1)
        month = int( dateData.get('month',1) or 1)
        year = int( dateData.get('year',1) or 1)
    except:
        day = 1
        month = 1
        year = 1
    return dt.datetime(day=day, month=month, year=year)

In [80]:
def nest(jd, *args):
    nest = jd
    for arg in args:
        try:
            nest = nest[arg]
        except:
            return ''
    return nest

def flatten(jd):
    row = FlatRow(
        mongo_id = nest(jd, '_id', '$oid'),
        disa_id = '{}-{}'.format(nest(jd,'meta','idPrefix'),nest(jd,'meta','idSuffix')),
        modified_date = dt.datetime.strptime(
            nest(jd, 'meta','lastModified'), '%Y-%m-%dT%H:%M:%S.%fZ'),
        creator = nest(jd, 'meta', 'creator'),
        last_updated_by = nest(jd, 'meta', 'updatedBy'),
        first_name = nest(jd, 'person', 'names', 0, 'firstName'),
        last_name = nest(jd, 'person', 'names', 0, 'firstName'),
        name_count = len( nest(jd, 'person', 'names') ),
        tribe = nest(jd, 'person', 'tribe'),
        origin = nest(jd, 'person', 'origin'),
        race = nest(jd, 'person', 'race'),
        sex = nest(jd, 'person', 'sex'),
        age = nest(jd, 'person', 'age'),
        enslavement = nest(jd, 'person', 'typeKindOfEnslavement'),
        vocation = nest(jd, 'person', 'vocation'),
        date_runaway = get_date( nest(jd, 'dateOfRunaway') ),
        date_sale = get_date( nest(jd, 'dateOfSale') ),
        date_emancipation = get_date( nest(jd, 'dateOfEmancipation') ),
        date_marriage = get_date( nest(jd, 'dateOfMarriage') ),
        date_death = get_date( nest(jd, 'dateOfDeath') ),
        owner_first = nest(jd, 'owner', 'firstName'),
        owner_last = nest(jd, 'owner', 'lastName'),
        owner_title = nest(jd, 'owner', 'title'),
        owner_vocation = nest(jd, 'owner', 'vocation'),
        buyer_first = nest(jd, 'buyer', 'firstName'),
        buyer_last = nest(jd, 'buyer', 'lastName'),
        seller_first = nest(jd, 'seller', 'firstName'),
        seller_last = nest(jd, 'seller', 'firstName'),
        father_first = nest(jd, 'person', 'father', 'name', 'firstName'),
        father_last = nest(jd, 'person', 'father', 'name', 'lastName'),
        father_origin = nest(jd, 'person', 'father', 'origin'),
        father_race = nest(jd, 'person', 'father', 'race'),
        father_status = nest(jd, 'person', 'father', 'status'),
        father_owner_first = nest(jd, 'person', 'father', 'owner', 'name', 'firstName'),
        father_owner_last = nest(jd, 'person', 'father', 'owner', 'name', 'lastName'),
        father_owner_title = nest(jd, 'person', 'father', 'owner', 'title'),
        father_owner_vocation = nest(jd, 'person', 'father', 'owner', 'vocation'),
        mother_first = nest(jd, 'person', 'mother', 'name', 'firstName'),
        mother_last = nest(jd, 'person', 'mother', 'name', 'lastName'),
        mother_origin = nest(jd, 'person', 'mother', 'origin'),
        mother_race = nest(jd, 'person', 'mother', 'race'),
        mother_status = nest(jd, 'person', 'mother', 'status'),
        mother_owner_first = nest(jd, 'person', 'mother', 'owner', 'name', 'firstName'),
        mother_owner_last = nest(jd, 'person', 'mother', 'owner', 'name', 'lastName'),
        mother_owner_title = nest(jd, 'person', 'mother', 'owner', 'title'),
        mother_owner_vocation = nest(jd, 'person', 'mother', 'owner', 'vocation'),
        child_first = nest(jd, 'person', 'children', 0, 'name', 'firstName'),
        child_last = nest(jd, 'person', 'children', 0, 'name', 'lastName'),
        child_count = len( nest(jd, 'person', 'children') ) ,
        nation = nest(jd, 'document', 'nationalContext'),
        state = nest(jd, 'document', 'colonyState'),
        location = nest(jd, 'document', 'stringLocation'),
        locale = nest(jd, 'document', 'locale'),
        document_date = get_date( nest(jd, 'document', 'date') ),
        source = nest(jd, 'document', 'sourceType'),
        record = nest(jd, 'document', 'recordType'),
        citation = nest(jd, 'document', 'citation'),
        addl_info = nest(jd, 'additionalInformation'),
        notes = nest(jd, 'researcherNotes') )

    return row

In [81]:
flat = [ flatten(rec) for rec in data ]
flat[0]

FlatRow(mongo_id='598b4c8baecb6c0001a29e25', disa_id='10-10002', modified_date=datetime.datetime(2018, 5, 14, 18, 32, 21, 539000), creator='112148132795694739523', last_updated_by='112487255676465508755', first_name='Elizabeth', last_name='Elizabeth', name_count=1, tribe='Unspecified', origin='', race='Indian', sex='Female', age='', enslavement='Servant', vocation='', date_runaway=datetime.datetime(1, 1, 1, 0, 0), date_sale=datetime.datetime(1, 1, 1, 0, 0), date_emancipation=datetime.datetime(1, 1, 1, 0, 0), date_marriage=datetime.datetime(1, 1, 1, 0, 0), date_death=datetime.datetime(1, 1, 1, 0, 0), owner_first='', owner_last='', owner_title='', owner_vocation='', buyer_first='', buyer_last='', seller_first='', seller_last='', father_first='', father_last='', father_origin='', father_race='', father_status='', father_owner_first='', father_owner_last='', father_owner_title='', father_owner_vocation='', mother_first='', mother_last='', mother_origin='', mother_race='', mother_status='', mother_owner_first='', mother_owner_last='', mother_owner_title='', mother_owner_vocation='', child_first='', child_last='', child_count=0, nation='British', state='Connecticut', location='New London', locale='', document_date=datetime.datetime(1671, 5, 7, 0, 0), source='Book', record='', citation='Blake, The Later History of the First Church of Christ, p. 446', addl_info='', notes='')

In [82]:
disa = pd.DataFrame(flat)

In [83]:
disa

,mongo_id,disa_id,modified_date,creator,last_updated_by,first_name,last_name,name_count,tribe,origin,...,nation,state,location,locale,document_date,source,record,citation,addl_info,notes
0,598b4c8baecb6c0001a29e25,10-10002,2018-05-14 18:32:21.539,112148132795694739523,112487255676465508755,Elizabeth,Elizabeth,1,Unspecified,,...,British,Connecticut,New London,,1671-05-07 00:00:00,Book,,"Blake, The Later History of the First Church o...",,
1,599c82feaecb6c0001a29e26,10-10003,2018-06-04 21:26:02.976,112148132795694739523,103795391716629952261,Harry,Harry,1,Unspecified,,...,British,Narragansett (Rhode Island),Kingstown,,1704-06-12 00:00:00,Newspaper,Runaway advertisement,Zotero ID: DISA00004. America's Historical New...,"Details of advertisement: ""Ran away from Capt....",Although his owner is the aforementioned Natha...
2,599c8586aecb6c0001a29e27,10-10004,2018-05-22 22:58:51.373,112148132795694739523,109503335312366098524,Prince,Prince,1,Unspecified,,...,British,Massachusetts,Boston,,1704-11-06 00:00:00,Newspaper,Runaway advertisement,Zotero ID: DISA00006; America's Historical New...,"Details of advertisement: ""Ran-away on Wednesd...",
3,599c8922aecb6c0001a29e28,10-10005,2018-06-04 21:39:13.923,112148132795694739523,103795391716629952261,Hannah,Hannah,1,,,...,British,Massachusetts,Barnstable,,1706-02-17 00:00:00,Newspaper,Runaway advertisement,Zotero ID: DISA00012; America's Historical New...,"Details of advertisement: ""Ran-away the last S...",
4,599c8b4faecb6c0001a29e29,10-10006,2018-06-04 21:35:30.437,112148132795694739523,103795391716629952261,Grace,Grace,1,,,...,British,New York,,,1706-01-13 00:00:00,Newspaper,Runaway advertisement,Zotero ID: DISA00010; America's Historical New...,"Details of advertisement: ""Ran-away from her M...",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,5b0498c0de60e011b9da3802,10-10490,2018-05-23 04:57:46.281,109503335312366098524,109503335312366098524,Milly,Milly,1,,,...,,Connecticut,Stonington,,1716-08-20 00:00:00,Newspaper,Runaway Advertisement,Zotero ID: DISA00070; America's Historical New...,"Details of advertisement: ""Ran away from Mr. D...",
489,5b0499bbde60e00a7cda3803,10-10491,2018-05-23 04:58:07.227,109503335312366098524,109503335312366098524,,,0,,,...,,Massachusetts,Boston,,1716-08-27 00:00:00,Newspaper,Advertisement of sale,Zotero ID: DISA00071; America's Historical New...,"Details of sale: ""A Spanish Indian Man Servant...",
490,5b049b52de60e03fe7da3804,10-10492,2018-05-22 22:37:09.231,109503335312366098524,109503335312366098524,,,1,,,...,,,,,0001-01-01 00:00:00,,,,,
491,5b049c9fde60e02bdada3805,10-10493,2018-05-23 17:23:40.210,109503335312366098524,112148132795694739523,,,0,,,...,British,Massachusetts,Boston,Sudbury Street,1716-10-01 00:00:00,Newspaper,Advertisement of sale,Zotero ID: DISA00073; America's Historical New...,"Details of sale: ""An Indian woman of about Twe...",
492,5b04a2f3de60e0606ada3806,10-10494,2018-06-04 21:40:53.256,109503335312366098524,103795391716629952261,,,0,,,...,,Massachusetts,Boston,,1706-04-22 00:00:00,Newspaper,Advertisement of sale,Zotero ID: DISA00008; America's Historical New...,"Details of sale: ""A Surranam Indian Woman, and...",

In [84]:
disa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 59 columns):
mongo_id                 493 non-null object
disa_id                  493 non-null object
modified_date            493 non-null datetime64[ns]
creator                  493 non-null object
last_updated_by          493 non-null object
first_name               493 non-null object
last_name                493 non-null object
name_count               493 non-null int64
tribe                    493 non-null object
origin                   493 non-null object
race                     493 non-null object
sex                      493 non-null object
age                      493 non-null object
enslavement              493 non-null object
vocation                 493 non-null object
date_runaway             493 non-null object
date_sale                493 non-null object
date_emancipation        493 non-null object
date_marriage            493 non-null object
date_death               493 non-null object
owner_first              493 non-null object
owner_last               493 non-null object
owner_title              493 non-null object
owner_vocation           493 non-null object
buyer_first              493 non-null object
buyer_last               493 non-null object
seller_first             493 non-null object
seller_last              493 non-null object
father_first             493 non-null object
father_last              493 non-null object
father_origin            493 non-null object
father_race              493 non-null object
father_status            493 non-null object
father_owner_first       493 non-null object
father_owner_last        493 non-null object
father_owner_title       493 non-null object
father_owner_vocation    493 non-null object
mother_first             493 non-null object
mother_last              493 non-null object
mother_origin            493 non-null object
mother_race              493 non-null object
mother_status            493 non-null object
mother_owner_first       493 non-null object
mother_owner_last        493 non-null object
mother_owner_title       493 non-null object
mother_owner_vocation    493 non-null object
child_first              493 non-null object
child_last               493 non-null object
child_count              493 non-null int64
nation                   493 non-null object
state                    493 non-null object
location                 493 non-null object
locale                   493 non-null object
document_date            493 non-null object
source                   493 non-null object
record                   493 non-null object
citation                 493 non-null object
addl_info                493 non-null object
notes                    493 non-null object
dtypes: datetime64[ns](1), int64(2), object(56)
memory usage: 227.4+ KB

In [86]:
disa[ disa.child_count != 0 ]

,mongo_id,disa_id,modified_date,creator,last_updated_by,first_name,last_name,name_count,tribe,origin,...,nation,state,location,locale,document_date,source,record,citation,addl_info,notes
11,599cab56aecb6c0001a29e30,10-10013,2017-12-29 19:27:54.141,113112063790792171857,112148132795694739523,Rachel,Rachel,1,Mohegan,,...,British,Connecticut,New London,,1720-12-04 00:00:00,Archive,,"Connecticut Church Records, Index, New London ...",,
22,599f04bdaecb6c0001a29e3b,10-10024,2017-12-29 19:36:48.169,113112063790792171857,112148132795694739523,John,John,1,Unspecified,,...,British,Jamaica,Port Royal,,1749-04-27 00:00:00,Archive,Manumission,"Jamaica Archives, Manumission of Slaves; â€œManu...",,Same name between child and slave.
91,59ea38c1df4c6f000198334a,10-10093,2018-05-31 16:32:56.581,112148132795694739523,113112063790792171857,Joan,Joan,1,,Pueblo de Pauto,...,Spanish,Trinidad,San Joseph de OruÃ±a,,1688-07-22 00:00:00,Archive,Manumission,"DISA00107; CARTAS DE GOBERNADORE, Archivo Gene...",,
92,5a0b84b6df4c6f000198334b,10-10094,2018-05-31 16:33:08.834,112148132795694739523,113112063790792171857,Catalina,Catalina,1,,Pueblo de Casanare,...,Spanish,Trinidad,San Joseph de OruÃ±a,,1688-07-22 00:00:00,Archive,Manumission,"DISA00107; CARTAS DE GOBERNADORE, Archivo Gene...",Married to Joan Pauto,Husband's ID in database: DISA-10-10093
119,5a3152addf4c6f0001983366,10-10121,2018-06-15 15:06:14.275,112148132795694739523,113112063790792171857,Joan,Joan,1,,,...,Spanish,Trinidad,San Joseph de OruÃ±a,,1688-07-22 00:00:00,Archive,Manumission,"DISA00107; CARTAS DE GOBERNADORE, Archivo Gene...",,Son's ID in database: DISA-10-10123
120,5a316c27df4c6f0001983367,10-10122,2018-06-15 15:06:41.665,112148132795694739523,113112063790792171857,Joan,Joan,1,,Casanave,...,Spanish,Trinidad,San Joseph de OruÃ±a,,1688-07-22 00:00:00,Archive,Manumission,"DISA00107; CARTAS DE GOBERNADORE, Archivo Gene...",Joan is noted as a widower (viudo),

In [87]:
disa.iloc[92].date_marriage

datetime.datetime(1, 1, 1, 0, 0)

In [90]:
disa[ disa.addl_info.str.contains("owner") ]

,mongo_id,disa_id,modified_date,creator,last_updated_by,first_name,last_name,name_count,tribe,origin,...,nation,state,location,locale,document_date,source,record,citation,addl_info,notes
55,59c26e8edf4c6f0001983326,10-10057,2018-06-14 01:13:54.377,113112063790792171857,103795391716629952261,Israel,Israel,1,Unspecified,"Allentown, PA",...,British,Pennsylvania,Philadelphia,,1791-10-25 00:00:00,Newspaper,Runaway advertisement,DISA00094; America's Historical Newspapers [Ma...,Details of advertisement: â€œNew Books. Just rec...,The same advertisement also appears in the Mar...
126,5a383cc8df4c6f000198336d,10-10128,2018-06-15 15:18:44.544,113112063790792171857,113112063790792171857,Pickle,Pickle,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-02-24 00:00:00,Archival,Registry,DISA00123; â€œReturn of the Registry of Indians ...,"These records are very sparse. Same owner as ""...",
127,5a383e8ddf4c6f000198336e,10-10129,2018-06-15 15:18:58.994,113112063790792171857,113112063790792171857,Johnny,Johnny,1,Unspecified,,...,British,British Honduras,Mosquito Shore,,1777-02-24 00:00:00,Archive,Registry,DISA00123; â€œReturn of the Registry of Indians ...,Same owner as that of Pickle,
129,5a3841bfdf4c6f0001983370,10-10131,2018-06-15 15:19:56.478,113112063790792171857,113112063790792171857,Jacob,Jacob,1,Unspecified,,...,British,British Honduras,Mosquito Shore,,1777-02-24 00:00:00,Archive,Registry,DISA00123; â€œReturn of the Registry of Indians ...,Same owner as Catto.,
130,5a384276df4c6f0001983371,10-10132,2018-06-15 15:20:09.808,113112063790792171857,113112063790792171857,Catto,Catto,1,Unspecified,,...,British,British Honduras,Mosquito Shore,,1777-02-24 00:00:00,Archive,Registry,DISA00123; â€œReturn of the Registry of Indians ...,Same owner as Jacob,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,5a949c181b47910001a53b2d,10-10431,2018-06-27 00:54:23.456,113112063790792171857,112148132795694739523,Mystilla,Mystilla,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-08-20 00:00:00,Archive,Registry,"Zotero ID: DISA00123, â€œReturn of the Registry ...","Same owner as Tanton, Bricksome, Euler, Will, ...",
430,5a949d191b47910001a53b2e,10-10432,2018-06-27 00:54:44.375,113112063790792171857,112148132795694739523,Susannah,Susannah,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-08-20 00:00:00,Archive,Registry,"Zotero ID: DISA00123, â€œReturn of the Registry ...","Same owner as Tanton, Bricksome, Euler, Will, ...",
431,5a949dca1b47910001a53b2f,10-10433,2018-06-27 00:54:53.798,113112063790792171857,112148132795694739523,Quash,Quash,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-08-20 00:00:00,Archive,Registry,"Zotero ID: DISA00123, â€œReturn of the Registry ...","Same owner as Tanton, Bricksome, Euler, Will, ...",
432,5a949e171b47910001a53b30,10-10434,2018-06-27 00:55:49.830,113112063790792171857,112148132795694739523,Docinda,Docinda,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-08-20 00:00:00,Archive,Registry,"Zotero ID: DISA00123, â€œReturn of the Registry ...","Same owner as Tanton, Bricksome, Euler, Will, ...",
433,5a949e581b47910001a53b31,10-10435,2018-06-27 00:56:10.394,113112063790792171857,112148132795694739523,Patrona,Patrona,1,Unspecified,,...,British,British Honduras,Mosquito Coast,,1777-08-20 00:00:00,Archive,Registry,"Zotero ID: DISA00123, â€œReturn of the Registry ...","Same owner as Tanton, Bricksome, Euler, Will, ...",

In [91]:
disa.disa_id.values

array(['10-10002', '10-10003', '10-10004', '10-10005', '10-10006',
       '10-10007', '10-10008', '10-10009', '10-10010', '10-10011',
       '10-10012', '10-10013', '10-10014', '10-10015', '10-10016',
       '10-10017', '10-10018', '10-10019', '10-10020', '10-10021',
       '10-10022', '10-10023', '10-10024', '10-10025', '10-10026',
       '10-10027', '10-10028', '10-10029', '10-10030', '10-10031',
       '10-10032', '10-10033', '10-10034', '10-10035', '10-10036',
       '10-10037', '10-10038', '10-10039', '10-10040', '10-10041',
       '10-10042', '10-10043', '10-10044', '10-10045', '10-10046',
       '10-10047', '10-10048', '10-10049', '10-10050', '10-10051',
       '10-10052', '10-10053', '10-10054', '10-10055', '10-10056',
       '10-10057', '10-10058', '10-10059', '10-10060', '10-10061',
       '10-10062', '10-10063', '10-10064', '10-10065', '10-10066',
       '10-10067', '10-10068', '10-10069', '10-10070', '10-10071',
       '10-10072', '10-10073', '10-10074', '10-10075', '10-10076',
       '10-10077', '10-10078', '10-10079', '10-10080', '10-10081',
       '10-10082', '10-10083', '10-10084', '10-10085', '10-10086',
       '10-10087', '10-10088', '10-10089', '10-10090', '10-10091',
       '10-10092', '10-10093', '10-10094', '10-10095', '10-10096',
       '10-10097', '10-10098', '10-10099', '10-10100', '10-10101',
       '10-10102', '10-10103', '10-10104', '10-10105', '10-10106',
       '10-10107', '10-10108', '10-10109', '10-10110', '10-10111',
       '10-10112', '10-10113', '10-10114', '10-10115', '10-10116',
       '10-10117', '10-10118', '10-10119', '10-10120', '10-10121',
       '10-10122', '10-10123', '10-10124', '10-10125', '10-10126',
       '10-10127', '10-10128', '10-10129', '10-10130', '10-10131',
       '10-10132', '10-10133', '10-10134', '10-10135', '10-10136',
       '10-10137', '10-10138', '10-10139', '10-10140', '10-10141',
       '10-10142', '10-10143', '10-10144', '10-10145', '10-10146',
       '10-10147', '10-10148', '10-10149', '10-10150', '10-10151',
       '10-10152', '10-10153', '10-10154', '10-10155', '10-10156',
       '10-10157', '10-10158', '10-10159', '10-10160', '10-10161',
       '10-10162', '10-10163', '10-10164', '10-10165', '10-10166',
       '10-10167', '10-10168', '10-10169', '10-10170', '10-10171',
       '10-10172', '10-10173', '10-10174', '10-10175', '10-10176',
       '10-10177', '10-10178', '10-10179', '10-10180', '10-10181',
       '10-10182', '10-10183', '10-10184', '10-10185', '10-10186',
       '10-10187', '10-10188', '10-10189', '10-10190', '10-10191',
       '10-10192', '10-10193', '10-10194', '10-10195', '10-10196',
       '10-10197', '10-10198', '10-10199', '10-10200', '10-10201',
       '10-10202', '10-10203', '10-10204', '10-10205', '10-10206',
       '10-10207', '10-10208', '10-10209', '10-10210', '10-10211',
       '10-10212', '10-10213', '10-10214', '10-10215', '10-10216',
       '10-10217', '10-10218', '10-10219', '10-10220', '10-10221',
       '10-10222', '10-10223', '10-10224', '10-10225', '10-10226',
       '10-10227', '10-10228', '10-10229', '10-10230', '10-10231',
       '10-10232', '10-10233', '10-10234', '10-10235', '10-10236',
       '10-10237', '10-10238', '10-10239', '10-10240', '10-10241',
       '10-10242', '10-10243', '10-10244', '10-10245', '10-10246',
       '10-10247', '10-10248', '10-10249', '10-10250', '10-10251',
       '10-10252', '10-10253', '10-10254', '10-10255', '10-10256',
       '10-10257', '10-10258', '10-10259', '10-10260', '10-10261',
       '10-10262', '10-10263', '10-10264', '10-10265', '10-10266',
       '10-10267', '10-10268', '10-10269', '10-10270', '10-10271',
       '10-10272', '10-10273', '10-10274', '10-10275', '10-10276',
       '10-10277', '10-10278', '10-10279', '10-10280', '10-10281',
       '10-10282', '10-10283', '10-10284', '10-10285', '10-10286',
       '10-10287', '10-10288', '10-10289', '10-10290', '10-10291',
       '10-10292', '10-10293', '10-10294', '10-10295', '10-10296',
       '10-10297', '10-10298', '10-10299', '10-10300', '10-10301',
       '10-10302', '10-10303', '10-10304', '10-10305', '10-10306',
       '10-10307', '10-10308', '10-10309', '10-10310', '10-10311',
       '10-10312', '10-10313', '10-10314', '10-10315', '10-10316',
       '10-10317', '10-10318', '10-10319', '10-10320', '10-10321',
       '10-10322', '10-10323', '10-10324', '10-10325', '10-10326',
       '10-10327', '10-10328', '10-10329', '10-10330', '10-10331',
       '10-10332', '10-10333', '10-10334', '10-10335', '10-10336',
       '10-10337', '10-10338', '10-10339', '10-10340', '10-10341',
       '10-10342', '10-10343', '10-10344', '10-10345', '10-10346',
       '10-10347', '10-10348', '10-10349', '10-10350', '10-10351',
       '10-10352', '10-10353', '10-10354', '10-10355', '10-10356',
       '10-10357', '10-10358', '10-10359', '10-10360', '10-10361',
       '10-10362', '10-10363', '10-10364', '10-10365', '10-10366',
       '10-10367', '10-10368', '10-10369', '10-10370', '10-10371',
       '10-10372', '10-10373', '10-10374', '10-10375', '10-10376',
       '10-10377', '10-10378', '10-10379', '10-10380', '10-10381',
       '10-10382', '10-10383', '10-10384', '10-10385', '10-10386',
       '10-10387', '10-10388', '10-10389', '10-10390', '10-10391',
       '10-10392', '10-10393', '10-10394', '10-10395', '10-10396',
       '10-10397', '10-10398', '10-10399', '10-10400', '10-10401',
       '10-10402', '10-10403', '10-10404', '10-10405', '10-10406',
       '10-10407', '10-10408', '10-10409', '10-10410', '10-10411',
       '10-10412', '10-10413', '10-10414', '10-10415', '10-10416',
       '10-10417', '10-10418', '10-10419', '10-10420', '10-10421',
       '10-10422', '10-10423', '10-10424', '10-10425', '10-10426',
       '10-10427', '10-10428', '10-10429', '10-10430', '10-10431',
       '10-10432', '10-10433', '10-10434', '10-10435', '10-10436',
       '10-10437', '10-10438', '10-10439', '10-10440', '10-10441',
       '10-10442', '10-10443', '10-10444', '10-10445', '10-10446',
       '10-10447', '10-10448', '10-10449', '10-10450', '10-10451',
       '10-10452', '10-10453', '10-10454', '10-10455', '10-10456',
       '10-10457', '10-10458', '10-10459', '10-10460', '10-10461',
       '10-10462', '10-10463', '10-10464', '10-10465', '10-10466',
       '10-10467', '10-10468', '10-10469', '10-10470', '10-10471',
       '10-10472', '10-10473', '10-10474', '10-10475', '10-10476',
       '10-10477', '10-10478', '10-10479', '10-10480', '10-10481',
       '10-10482', '10-10483', '10-10484', '10-10485', '10-10486',
       '10-10487', '10-10488', '10-10489', '10-10490', '10-10491',
       '10-10492', '10-10493', '10-10494'], dtype=object)

In [94]:
disa.nation.value_counts()

British          365
                  54
Spanish           28
British           22
American          12
USA                6
British Coast      2
Honduras           2
United States      1
French             1
Name: nation, dtype: int64